
html
{
    background: url("./index.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#logo
{
    position: fixed;
    right: 120px;
    top: 220px;
    height:40px;
    position: fixed;
    right: 120px;
    top: 220px;
    height:40px;
    padding: 5px;
    font-size: 147.5px;
    font-weight: bold;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
}


#idot
{
    position: fixed;
    right: 363px;
    top: 217.5px;
    height:80px;
}


#moto
{
    position: fixed;
    left: 50px;
    width: 600px;
    height:40px;
    bottom: 20px;
    padding: 5px;
    font-size: 37.5px;
    font-weight: bold;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
}